@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gugi&family=Space+Grotesk:wght@300..700&family=Syne:wght@400..800&display=swap');

html, body {
    scrollbar-width: none;
    max-height: auto;
    overflow-x: hidden;
    
}

.fondos {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, black 100%), 
    url('imagen0.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;

}

.categoria {
    font-family: "Space Grotesk", sans-serif;
    font-weight: lighter;
}

.categoria h3 {
    font-size: 20pt;
    font-weight: lighter;
}


.submenu {
    position: absolute; /* Permite posicionarlo sin afectar otros elementos */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Lo alinea a la derecha */
    display: flex;
    gap: 15px; /* Espaciado entre los enlaces */
    z-index: 10; /* Asegura que se mantenga sobre otros elementos */
}

.submenu a {
    color: white;
    font-family: "BIZ UDPGothic", sans-serif;
    font-size: 10pt;
    text-decoration: none;
    transition: color 0.3s ease;
}

.submenu a:hover {
    color: grey;
}


.saludo {
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 5%;
    color: white;
    font-family: "BIZ UDPGothic", sans-serif;
}

.saludo input {
    width: 80%;
    font-style: italic;
    font-size: 12pt;
    color: white;
    background-color: rgba(255, 255, 255, 0.253);
    border: solid 0.5px white;
    border-radius: 5px;
}

.saludo input::placeholder {
    color: white;
    font-size: 12pt;
}

.saludo .dropdown button {
    font-size: 12pt;
    
}


.dropdown-toggle {
    border: none !important;
    background: none !important;
    color: inherit; /* Hereda el color del texto del contenedor */
    padding: 0 !important; /* Opcional: reduce el padding si es necesario */
    font-size: inherit; /* Mantiene el tamaño de la fuente */
}

.dropdown-toggle:focus,
.dropdown-toggle:active {
    outline: none !important;
    box-shadow: none !important; /* Evita el resplandor azul al hacer clic */
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.253) !important;
    border-radius: none !important;
}

.dropdown-menu a {
    color: white;
}

.dropdown-menu a:hover {
    color: grey;
}



.menu {
    
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    
}


.menu a {
    z-index: 1;
    padding-left: 16px;
    text-decoration: none;
    color: white;
    font-family:"BIZ UDPGothic", sans-serif;
    font-weight: bold;
    font-size: 14pt;
    margin-left: 3%;
    display: block;
    width: 0;
}

.menu a:hover {
    color:rgb(63, 62, 62);
}


.bienvenida {
    color: white;
    font-family: "BIZ UDPGothic", sans-serif;
    padding-top: 5%;
    margin: auto;
    justify-content: right;
    display: flex;
    justify-content: flex-end; 
    

}

.bienvenida h2 {
    padding-right: 10%;
}

.presentacion {
    color: white;
    font-family: "BIZ UDPGothic", sans-serif;
    font-size: 10pt;
    padding-top: 5%;
    padding-bottom: 5%;

}

.presentacion p {
    width: 60%;
}


.fotografia h3{
    color: white;
    font-size: 20pt;
    font-weight: lighter;

}

.galery {
    display: grid; /* Activa la grilla */
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas iguales */
    gap: 10px; /* Espacio entre los elementos */
    max-width: 100%; /* Ancho máximo del contenedor */
    margin: 0 auto;
    padding: 1rem; 
    grid-auto-flow: dense;
  }
  
  .galery-item {
    position: relative; /* Permite posicionar elementos hijos si es necesario */
    cursor: pointer; /* Indica que es clickeable */
  }
  
  .galery-item:nth-child(3n + 5), /* Segunda columna */
  .galery-item:nth-child(3n + 2) /* Tercera columna */ {
    grid-row: span 2; /* Hacer que ocupen más espacio vertical */
  }
  
  .galery-item:nth-child(7n + 1) {
    grid-column: span 2;
  }
  .galery img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transition: transform 0.3s ease; 
  }


  /*Modal*/


  .modal-header {
    font-family: "BIZ UDPGothic", sans-serif;
    color: white;
  }

  .modal {
    background-color: rgba(255, 255, 255, 0.253) !important;
  }

  .btn-close {
    color: white;
  }

  .btndownload {
    background-color: none !important;
    border: solid 0.5px white;
  }